:root{
--corDarkAzul:#092b5a;
--corMediumAzul:#09738b;
--corLightAzul:#0b5363;
--corWhiteTransparente:#ffffff10;
--corMediumVerde:rgb(120, 168, 144);
--corLightVerde:#9ed1b7;
--corBege:#e7d9b4;
--corWhite:#fff;
--divAviso:#ff85856f;
}
